.task{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem;
        background-color: rgb(141, 123, 123);
        margin:0.5rem;
        margin-left: 3.5rem;
        margin-right: 3.5rem;
        border-radius: 0.4rem;
}

.btn{
    width: 2rem;
}

.btn:hover{
    background-color: red;
}